# Customer Segmentation (Market Basket) Analyses 

# Introduction

### Context
You are the owner of a mall and through membership cards, you have some basic data about your customers like Customer ID, age, gender, annual income and spending score. Spending Score is something you assign to the customer based on your defined parameters like customer behavior and purchasing data.

### Problem Statement
You want to understand the customers' tendencies and classify target customers so that the marketing team can plan their strategies accordingly and efficiently.

### Goal
How to achieve customer segmentation using machine learning algorithm (K-Means Clustering) in Python.

## Importing Libraries

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn import set_config

from yellowbrick.cluster import KElbowVisualizer
from yellowbrick.cluster import SilhouetteVisualizer

## Importing Data

In [26]:
mall_customer_df = pd.read_csv('dataset/Mall_Customers.csv')

### Data Sample

In [27]:
mall_customer_df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### Cleansing

In [28]:
mall_customer_df = mall_customer_df.drop('CustomerID', axis=1)
mall_customer_df = mall_customer_df.rename(
    index=str, 
    columns={
        'Annual Income (k$)': 'AnnualIncome',
        'Spending Score (1-100)': 'SpendingScore'
    }
)
mall_customer_df.head()

   Gender  Age  AnnualIncome  SpendingScore
0    Male   19            15             39
1    Male   21            15             81
2  Female   20            16              6
3  Female   23            16             77
4  Female   31            17             40

### About the Dataset and statistics

In [29]:
print(mall_customer_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender         200 non-null    object
 1   Age            200 non-null    int64
 2   AnnualIncome   200 non-null    int64
 3   SpendingScore  200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB
None

In [30]:
print(mall_customer_df.describe())

              Age  AnnualIncome  SpendingScore
count  200.000000    200.000000     200.000000
mean    38.850000     60.560000      50.200000
std     13.969007     26.264721      25.823522
min     18.000000     15.000000       1.000000
25%     28.750000     41.500000      34.750000
50%     36.000000     61.500000      50.000000
75%     49.000000     78.000000      73.000000
max     70.000000    137.000000      99.000000

## Data Analyses

# Data Preparation

# Conclusion